
.item {
	color: #E4FDE1;
	font-size: 32px;
	font-weight: bold;
	border-radius: 15px;

	display: flex;
	flex-direction: row;
	justify-content: space-around;
  align-items: center;	
}
.item > * {
	flex-grow: 2;
	height: 100%;
	display: flex;
  justify-content: center;
  align-items: center;

}
.item > .content {
	flex-direction: column;
	text-align: center;
}

.item > .content > h1 {
	font-size: 25px;
	margin: 0;
}
.item > .content > p {
	margin: 0;
	font-weight: normal;
	font-size: 20px;
}

.item > .add,
.item > .sub {
	font-size: 50px;
	border-radius: 15px;
}
.item > .add:hover,
.item > .sub:hover {
	animation: hov 0.2s ease-out forwards;
}

@keyframes hov{
	0% {
		background-color: inherit;
	}
	100% {
		background-color: #749C75;
	}
}

