
.item {
	color: #E4FDE1;
	font-size: 32px;
	font-weight: bold;
	border-radius: 15px;

	display: flex;
	flex-direction: row;
	justify-content: space-around;
  align-items: center;	
}
.item > * {
	flex-grow: 2;
	height: 100%;
	display: flex;
  justify-content: center;
  align-items: center;

}
.item > .content {
	flex-direction: column;
	text-align: center;
}

.item > .content > h1 {
	font-size: 25px;
	margin: 0;
}
.item > .content > p {
	margin: 0;
	font-weight: normal;
	font-size: 20px;
}

.item > .add,
.item > .sub {
	font-size: 50px;
	border-radius: 15px;
}
.item > .add:hover,
.item > .sub:hover {
	animation: hov 0.2s ease-out forwards;
}

@keyframes hov{
	0% {
		background-color: inherit;
	}
	100% {
		background-color: #749C75;
	}
}

.item.foodSilo {
	height: fit-content;
	display: flex;
	flex-direction: row;
	flex-wrap:nowrap;
	
}

.item > .title {
	margin: 0px;
	height: 100%;
}

.item> .icon {
	flex-basis: 1;
	background-image: url('../assets/silo1.svg');
	height: 100px;
	aspect-ratio: 1/1;
	margin: 15px;

	transition: scale 100ms;
}

.item> .icon:hover {
	scale: 120%;
	cursor: grab;
}

.item.foodSilo > .icon {
	background-image: url('../assets/silo1.svg');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.item.potato > .icon {
	background-image: url('../assets/potato.svg');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}


