.main {
    padding: 0rem 2rem;
}

.en-link {
    color: #3366cc;
}

.en-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.en-link:active {
    color:darkgreen;
}

.en-control {
    color: black;
    font-size:x-large;
    user-select: none;
}

.en-control:hover {
    cursor: pointer;
    font-weight: bold;
    color: blue;
}

.en-control:active {
    color:darkgreen;
}

.en-control-disabled {
    color: gray;
    font-size:x-large;
    user-select: none;
}

button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
     transition: transform .7s ease-in-out;
    margin-right: 50px;
    margin-top: 50px;
 }
 
 button:hover {
    scale: 110%;
 }

 button:active{
    scale: 90%;
 }

img {
    height: 100px;
    width: 100px;
}

.true-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }