.main {
    padding: 0rem 2rem;
}

.en-link {
    color: #3366cc;
}

.en-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.en-link:active {
    color:darkgreen;
}

.en-control {
    color: black;
    font-size:x-large;
    user-select: none;
}

.en-control:hover {
    cursor: pointer;
    font-weight: bold;
    color: blue;
}

.en-control:active {
    color:darkgreen;
}

.en-control-disabled {
    color: gray;
    font-size:x-large;
    user-select: none;
}