
.field {
	cursor: grab;
	overflow: hidden;	
}

.field:active {
	cursor: grabbing;
}

.field > .menu {
	margin: 1em;
	width: fit-content;

	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;

	background-color: rgb(209, 92, 67, 0.8);
	border: solid 3px brown;
	border-radius: 1em;

	transition: all 200ms;
}
.field > .menu:not(.active) > *:not(h1){
	display: none;
}

.field > .menu > h1 {
	padding: 0.5em;
	margin: 0 0 0.5em 0em;
}
.field > .menu:not(.active) > h1 {
	margin: 0;
}
.field > .menu.active > p {
	font-size: 1.5em;
	text-align: center;
	width: 15em;

	padding: 0 1em ;
}


.field > .items > * {
	z-index: 4;

	position: absolute;
	width: 100px;
	height: 100px;
	
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-color: transparent;

	display:grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	justify-content: center;
	align-content: center;
}

.field > .items > .foodSilo {
	background-image: url('../assets/silo1.svg');
}
.field > .items > .denitrifier {
	background-image: url('../assets/denitrifier.svg');
}
.field > .items > .potato {
	background-image: url('../assets/potato.svg');
}

.field > .items > .potato.seedling {
	background-image: url('../assets/seedling.svg');	
}

.field > .items > * > .radius {
	grid-column: 1 / span 1;
	grid-row: 1 / span 1;
	border: solid 0.5em rgb(209, 92, 67, 0.8);
	border-radius: 50%;

	aspect-ratio: 1/1;

}

.field > .items .menu {

	z-index: 6;
	position:absolute;
	left: calc(50% + 100px);

	grid-column: 1 / span 1;
	grid-row: 1 / span 1;

	z-index: 5;

	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	gap: 1em;

	background-color: rgb(209, 92, 67, 0.8);
	border: solid 3px brown;
	
	height: fit-content;
	width: max-content;
	border-radius: 1em;
	padding: 2em;
}

.field > .items .menu > h1 {
	flex: 0 0 auto;
	margin: auto;
	text-align: center;	
}
.field > .items .menu > .info {
	flex: 0 0 auto;
	border: solid 1px brown;
	border-radius: 1em;

	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	gap: 1em;
}
.field > .items > * > .menu > .info > * {
	flex: 1 1 auto;
	font-size: 1.5em;
	padding: 0.5em;
	margin: 0;
}
.field > .items > * > .menu > .info > .key {
	font-weight: bold;
}
.field > .items > * > .menu > .info > .value {
	border-width: inherit;
	border-style: inherit;
	border-color: inherit;
	border-top: none;
	border-right: none;
	border-bottom: none;
}

.field > .items .menu > .levels {
	display: grid;

	grid-template-columns: auto auto;
	grid-template-rows: auto auto auto;

	border: solid 1px brown;
	border-radius: 1em;

	font-size: 1.5em;
	padding: 0.0em;
	margin: 0;

}

.field > .items .menu > .levels > * {
	display: contents;
}

.field > .items .menu > .levels > * > * {
	margin: 0;
	padding: 0.5em;

	border: solid 1px brown;
	border-top: none;
	border-right: none;
	border-left: none;
}
.field > .items .menu > .levels > *:last-child > *{
	border-bottom: none;
}
.field > .items .menu > .levels .key {
	font-weight: bold;

	border-right: solid 1px brown;

}

.field > .items .menu > .levels .value {

}



